---
import { Image } from "astro:assets";
import logoAlternativo from "../assets/logo-alternativo.png";
---

<a
  href="/app/painel"
  class="inline-flex items-center bg-transparent"
  aria-label="Feliz Natal"
>
  <Image
    src={logoAlternativo}
    alt="Feliz Natal"
    width={1024}
    height={1024}
    loading="eager"
    decoding="async"
    class="h-16 w-auto"
    formats={["avif", "webp", "png"]}
  />
</a>
